<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar class="profile-pic">
    <ion-img src="../../assets/image.png"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Harut Zaqaryan</ion-card-title>
    </ion-card-header>

    <ion-card-content> Software Engineer </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content [routerLink]="['/login']"> Login </ion-card-content>
  </ion-card>
</ion-content>
